footer {
    width: 100%;
    background-color: $blue;

    h3,
    p {
        color: white;
    }

    &>div {
        max-width: 1400px;
        margin: auto;
        display: flex;
    }

    .content {
        padding: 0 2rem 2rem 2rem;
        width: 50%;
        margin-right: 0;
        margin-left: auto;
    }

    .left-part {
        width: 80%;
        display: flex;

        .content {
            &:first-of-type {
                width: 30%;
                min-width: 375px;
            }

            p {
                display: flex;
                align-items: center;

                &:first-of-type {
                    margin-bottom: 5px;
                }
            }

            img {
                width: 28px;
                height: 28px;
                margin-right: 1rem;
            }

            a{
                background-color: $yellow;
                color: $brown;
                border-radius: $radius;
                padding: 0 1rem;
                text-decoration: none;
                display: block;
                width: fit-content;
                height: fit-content;
            }
        }
    }

    .right-part {
        width: 20%;
        min-width: 250px;
        margin: auto;
    }

    .contactFooter {
        display: flex;
    }

    img {
        width: 64px;
        height: 64px;
    }

    #logoEntreprise {
        width: 100%;
    }

    .logoFooter {
        display: flex;
        width: 50%;
    }

    #ligneCopyright {
        text-align: center;
        border-top: #EAE4DE solid 2px;
        padding: 1rem 0;
        max-width: 1400px;
        margin: auto;

        a {
            color: $yellow;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 1200px) {

    footer {
        display: flex;
        flex-direction: column;
        margin: auto;

        h3 {
            text-align: center;
        }

        &>div {
            max-width: 1200px;
            margin: auto;
            display: flex;
            flex-direction: column;
        }

        .left-part {
            width: 80%;
            display: flex;
            flex-direction: column;
            margin: auto;

            &:first-of-type {
                min-width: 0;
                display: flex;
                width: 100%;
                padding: 2rem 0;
                flex-direction: column;
                align-items: center;
            }
        }

        .content {
            display: flex;
            width: 100%;
            padding: 2rem 0;
            flex-direction: column;
            align-items: center;
        }
    }
}