@import "main.scss";

.contentPM {
    margin: auto;
    max-width: 1920px;


    p:first-of-type {
        margin: $nextSection;
    }

    h1,
    h2 {
        text-align: center;
    }

    .blocPM {
        display: flex;
        margin: $nextSection;
        max-width: 1920px;
        max-height: 700px;

        &:nth-child(2n) {
            display: flex;
            flex-direction: row-reverse;
        }

        .paragPM {
            border-radius: $radius;
            padding: 2rem;
            width: 40%;
            margin-left: 2rem;
            background-color: $beige;
        }

        .paragPM2 {
            border-radius: $radius;
            padding: 2rem;
            width: 40%;
            margin-right: 2rem;
            background-color: #192A56;
        }

        .imgPM {
            border-radius: $radius;
            width: 60%;
            object-fit: cover;
            background: $test;
        }

        p {
            padding-top: 2rem;
        }
    }
}

.white {
    color: $white;
}


.consoleBtn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 480px;
    margin: auto;

    .imgConsoleBtn {
        margin: 0.50rem;
        width: 50px;
        height: 50px;
        object-fit: scale-down;
    }
}

@media screen and (max-width:1400px) {
    .contentPM {
        .blocPM {
            .imgPM {
                width: 50%;
            }
        }
    }

}

@media screen and (max-width:1200px) {
    .contentPM {
        .blocPM {
            display: flex;
            flex-direction: column;
            max-height: none;
            height: 700px;

            &:nth-child(2n) {
                display: flex;
                flex-direction: column;
                margin: auto;

            }

            .paragPM {
                width: 100%;
                margin: auto;
                max-width: 1200px;
                padding: 0;
                height: 700px;
            }

            .paragPM2 {
                width: 100%;
                max-width: 1200px;
                padding: 0;
                height: 700px;
                border-radius: 0;
                margin-bottom: 5rem;
            }

            .imgPM {
                width: 100%;
                object-fit: contain;
                margin-bottom: 2rem;
                height: 500px;
            }
        }
    }
}