#voile {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #modale {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.576);
    padding: 10rem;
    border-radius: 100%;
  }
  p{
    font-size: 200px;
    color: white;
  }